<div class="container">
    <form class="form mat-elevation-z8">

        <h1>Help Desk - Dicas de um DEV</h1>

        <img src="assets/img/login-image.svg" alt="Help Desk - Dicas de um DEV">

        <mat-form-field class="full-width" appearance="outline" >
            <mat-label>Email</mat-label>
            <input
                    matInput
                    placeholder="Ex. fulano@mail.com"
                    [(ngModel)]="creds.email"
                    name="email"
                    [formControl]="email"
                    required
            >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input
                    [formControl]="senha"
                    matInput
                    type="password"
                    placeholder="Ex. 123"
                    [(ngModel)]="creds.senha"
                    required
                    name="senha"
            >
        </mat-form-field>
        <button [disabled]="!validaCampos()" mat-raised-button class="full-width mat-elevation-z4">Login</button>
    </form>

</div>
